@charset "UTF-8";
/* CSS Document */

/*Remove this rule on your HTML elements as you start to fill them with content*/
.hidden {
	display:none
}

.box-color {
	color: #ffffffce;
	background: #BBC6A9;;
	text-align:left;
	margin: 0;
	display: inline;
	padding: 0;
	padding-left:50px ;
	padding-right:30px ;
	box-shadow: 5px 5px 5px rgba(33, 37, 34, 0.486);
	

	
}

.box-color2 {
	color: #ffffff;
	background: #E6DCB0;
	text-align:left;
	margin: 0;
	display: inline;
	padding: 0;
	padding-left:50px ;
	padding-right:30px ;
	

	
}





/*basic reset*/

/*browsers have built in values for elements so we'll reset a few things to zero, you can add to this or remove items as needed*/

div,p,body,header,footer,section,article,nav { 
	margin: 0; 
	padding: 0; 
	overflow-x: hidden;
}	

img { 
	border: none; /*Remove border if image is a link*/
	margin: 0; 
	padding: 0; 
}

/*html selectors*/

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
}

/* Remove underlines from links */

a {
	text-decoration: none;
}

/*hide elements from browser but show for doc outline*/

.hidden {
	display: none;
}


/*Common page elements  */

/*This is essentially a box that we place the whole site in.  
We center the box using margin 0 auto and give it a fixed width of 1920px.
1920px would fit a large monitor or tv. Sizes will vary depending on the projects
you work on and the intended audience */

#container {
	margin: 0 auto;
	width: 1920px;
	
}

/* this is our grid based off of our XD file */
.grid-con {
	display: grid;
	grid-template-columns: repeat(12, 122px);
	grid-column-gap: 16px;
	padding-left: 140px;
	padding-right: 140px;
	
}

#header-con {
    top: 0px;
    height: 150px;
    
	background-color: #BBC6A9; 
	
	

}
#logo {
	
    grid-column: 1/4;
	margin-left: -100px;
	
}
	


#main-nav {
	grid-column: 4/11;
    
    margin-top: 17px;
    margin-left: -250px;

	/* Remove as content will dictate height */
}

#main-nav ul {
	
	list-style: none;
    padding: 0;
    margin-top: 35px;
    margin-left: 30px;
}

#main-nav ul li {
	display: inline;
    margin-right: 28px;
	
}
 #main-nav ul li a:hover {
    border-bottom: 5px solid #ffffff;
    padding-bottom: 8px;
 }
#main-nav ul li a {
    color: #ffffff;
	font-family: american typewriter;
	font-size: 30px;
	
}

#main-nav ul li:last-child {
    margin-right: 0;
}

.cart-icon {
	grid-column: 11;
	grid-row: 1;
	margin-left: 70px;
	margin-top:35px;
	
}

/* Specific to index page desktop  */
.hero-p {
	font-size: 25px;
	font-family: american typewriter;
	padding: 50px;
	padding-top: 0px;
	padding-bottom:0px;
	color: #50412f;
	line-height: 50px;
	box-shadow: 5px 5px 5px rgba(33, 37, 34, 0.486);
	
}
#background1 {
	background-color: #DFE3D8;

}
#hero {
	margin-top: 100px;
	padding-bottom: 10px;
	
}

#hero-text {
	grid-column: 1/8;
	/* Remove as content will dictate height */
	height: 582px;
	background-color: #EFEFEF;
	border-radius: 40px;
	
}


#hero-image {
	grid-column: 8/-1;
	/* Remove as content will dictate height */
	height: 582px;
	border-radius: 40px;
}

#products {
	padding-top: 100px;
	padding-bottom: 100px;
	
	
}

#products h2 {
	grid-column: 1/-1;
	text-align: center;
}

#product1 {
	grid-column: 1/5;
	/* Remove as content will dictate height */
	height: 507px;
}

#product2 {
	grid-column: 5/9;
	/* Remove as content will dictate height */
	height: 507px;
}

#product3 {
	grid-column: 9/-1;
	/* Remove as content will dictate height */
	height: 507px;
}

.product-box {
	background-color: #EFEFEF;
	border-radius: 40px;
	color: #50412f;
	font-family: american typewriter;
	font-size: 20px;
	letter-spacing: 5px;
	box-shadow: 5px 5px 5px rgba(33, 37, 34, 0.486);

}

.products-title {
	font-size: 50px;
	color: #50412f;
	font-family: american typewriter;
	letter-spacing: 5px;
}

#TO-title {
	letter-spacing: 5px;
	color:#535f55;
}
#TO-title2 {
	letter-spacing: 3px;
}
.view-items {
	padding-left: 135px;
	padding-top: 50px;
}

.about-text {
	font-size: 35px;
	font-family: american typewriter;
	padding-left:10px ;
	padding-right:10px ;
	background-color: #BBC6A9;
	
	
}

#open-maps {
	padding-top:130px;
}
#about-con {
	background-color: #7B8D7D;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-left: -75px;
}

#about-title {
	text-align: center;
	font-size: 50px;
	font-family: american typewriter;
	color:#50412f;
	letter-spacing: 5px;
}

#about-text {
	grid-column: 1/8;
	/* Remove as content will dictate height */
	height: 700px;
	border-radius: 40px;
}

#about-image {
	grid-column: 8/-1;
	/* Remove as content will dictate height */
	height: 700px;
	border-radius: 40px;
}

#sign-up {
	color:#535f55;
	letter-spacing: 2px;
}

#updates {
	color:#7B8D7D;
	letter-spacing: 2px;
}
#updates-list {
	line-height: 42px;
}
#contact {

	padding-top: 100px;
	padding-bottom: 100px;
}

#contact-text {
	grid-column:1/6;
	/* Remove as content will dictate height */
	height: 750px;
	border-radius: 50px;
	font-size: 30px;
	font-family: american typewriter;
	box-shadow: 5px 5px 5px rgba(33, 37, 34, 0.486);
}

#contact-form {
	grid-column: 6/-1;
	/* Remove as content will dictate height */
	height: 750px;
	border-radius: 50px;
	box-shadow: 5px 5px 5px rgba(33, 37, 34, 0.486);
}

#contact-form form {
	display: flex;
	flex-direction:column;
}

#contact-form textarea {
	height: 100px;
    border: none;
    border-radius:  40px;
    margin-bottom: 0px;
	font-family: american typewriter;
    font-size: 28px;
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 60px;
	color: #7B8D7D;
	width: 575px;
	box-shadow: 5px 5px 5px rgba(33, 37, 34, 0.486);
}

#contact form textarea[name="msg"] {
	padding-left: 40px;
	padding-right: 150px;
	padding-top: 20px;
}
#contact-form input {
    height:80px;
	padding: 0px;
    border: none;
    border-radius:  40px;
    margin-bottom: 0px;
    font-family: american typewriter;
	font-size: 28px;
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 24px;
	color: #7B8D7D;
	background-color: #ffffff;
	width:575px;
	box-shadow: 5px 5px 5px rgba(33, 37, 34, 0.486);
}

#contact-form input[type="text"] {
	padding-left: 40px;
	padding-right: 150px;
}
#contact-form input[type="submit"]:hover {
    background-color: #7B8D7D;
    border-radius: 60px;
	color: #ffffff;
}
#contact-form input[type="submit"] {
	width: 250px;
	background-color: #b39a7c;
	color: #ffffff;
}


/*Common page elements  */

#footer-con {
	background-color:#535f55;
	
}

.footer-logo {
	grid-column: 1/4;
	grid-row: 1;
	padding-top: 20px;
	/* Remove as content will dictate height */
	
	
}

#footer-nav {
	grid-column: 11/-1;
	height: 350px;
	width:280px;
	margin-bottom: 0px;
	background-color: #7B8D7D;
}

#footer-nav ul {
	list-style: none;
	font-size: 28px;
	text-align: center;
	
}

#footer-nav ul li {
    display: flex;
	margin-right: 40px;
}

#footer-nav ul li a {
    color: #ffffff

}

#footer ul li a:hover {
    border-bottom: 5px solid #ffffff;
    padding-bottom: 8px;
}

#contact-title {
	padding-bottom:30px;
	font-family: american typewriter;
	font-size: 40px;
	color: #ddd;
}
#footer-contact {
	grid-column: 1/6; 
	grid-row: 1;
	padding-top:150px ;

}


#footer-contact input[type="submit"] {
	width: 200px;
    background-color:#d3d4b0;
    color: #95735E;
    border-radius: 40px;
	border: none;
    transition: all 200ms ease-in;
    align-self: left;
	font-size: 28px;
	cursor: pointer;
	margin-top: 50px
}

#footer-contact input[type="submit"]:hover {
    background-color:#7B8D7D;
    border-radius: 60px;
	color: #dddddd;
}

#footer-contact input, textarea {
	margin-right: 40px;
    border: none;
    border-radius:  40px;
	font-size: 28px;
	color: #95735E;
	padding: 22px;
	position: relative;
	bottom: 1.2em;
	width: 450px;
	font-family: american typewriter;
}

/* gallery page */

.gallery-main {
	background-color: #535f55;
}
#gallery-hero-con {
	background-color: #aaaaaa;
	background: url("../images/gallery/hawaii.jpg");
	height: 580px;
	opacity: 70%;
}
#gallery-hero-con h2 {
	font-size: 85px;
	color:#ffffff;
	background-color: #7B8D7D;
	margin-right:-500px ;
}

#new-title {
	font-size: 50px;
	font-family: american typewriter;
	letter-spacing: 3px;
	color: #DFE3D8;
}
#gallery-text {
	grid-column: 1/9;
	/* Remove as content will dictate height */
	height: 200px;
	margin-top: 100px;
}

#gallery-controls {
	margin-top: 200px;
	grid-column: 6/8;
	display: flex;
	justify-content: center;
	align-items: center;
}

.dot {
	background-color: #EFEFEF;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	margin: 5px;
  }

#gallery h2 {
	grid-column: 1/-1;
	text-align: center;
  }

.gallery-box {
	background-color: #EFEFEF;
	grid-column: span 4 / span 4;
	/* Remove as content will dictate height */
	height: 507px;
	margin-bottom: 20px;
	border-radius: 40px;
}