@charset "UTF-8";
/* CSS Document */

/*Remove this rule on your HTML elements as you start to fill them with content*/

.box-color {
	color: #fff;
	background: #EFEFEF;
	text-align: center;
	margin: 0;
	border-radius: 40px;
}

/*basic reset*/

/*browsers have built in values for elements so we'll reset a few things to zero, you can add to this or remove items as needed*/

div,p,body,header,footer,section,article,nav { 
	margin: 0; 
	padding: 0; 
}	

img { 
	border: none; /*Remove border if image is a link*/
	margin: 0; 
	padding: 0; 
}

/*html selectors*/

body {
	font-family: american typewriter;
	font-size: 12px;
}

/* Remove underlines from links */

a {
	text-decoration: none;
}

/*hide elements from browser but show for doc outline*/

.hidden {
	display: none;
}


/*Common page elements  */

/*This is essentially a box that we place the whole site in.  
We center the box using margin 0 auto and give it a fixed width of 428px.
428px would fit some phones. Sizes will vary depending on the projects
you work on and the intended audience, we may go as low as 320px */

#container {
	margin: 0 auto;
	width: 428px;
}

/* this is our grid based off of our XD file */
.grid-con {
	display: grid;
	grid-template-columns: repeat(4, 85px);
	grid-column-gap: 16px;
	padding-left: 20px;
	padding-right: 20px;
}

#header-con {
	background-color:#BBC6A9;
	padding-top: 10px;
	padding-bottom: 10px;
}

#header-logo {
	grid-column: 1/3;
}

#mobile-nav {
	grid-column: 4/-1;
}

.burger {
	height: 16px;
	background-color:rgb(255, 255, 255);
	display: block;
	margin-bottom: 10px;
	border-radius: 40px;
}

/* index page */

#hero-con {
	background-color: #DFE3D8;
	
	height: 470px;
}

#hero-text {
	grid-column: 1/-1;
	/* Remove as content will dictate height */
	height: 450px;
	margin-top: 20px;
	color: #50412f;
	letter-spacing: 1.5px;
}

#brands {
	background-color: #DFE3D8;
}

#image-slider-con {
	background-color: #EFEFEF;
	/* Remove as content will dictate height */
	height: 640px;
	position: relative;
	border-radius: 40px;
}

#image-slider-con h2 {
	background-color: #DFE3D8;
	text-align: center;
	padding-top: 70px;
	padding-bottom: 70px;
	margin: 0;
	color:#50412f;
	font-size: 25px;
}

#image-slider-con h3 {
	background-color: #EFEFEF;
	text-align: center;
	padding-top: 90px;
	padding-bottom: 70px;
	margin: 0;
	color:#50412f;
	font-size: 30px;
}

#mobile-slider-left {
	position: absolute;
	left: 0;
	font-size: 120px;
	color:#fff;
	top: 200px;
}

#mobile-slider-right {
	position: absolute;
	right: 0;
	font-size: 120px;
	color:#fff;
	top: 200px;
}

#about-us-con {
	background-color: #DFE3D8;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 70px;
	margin: 0;
	color:#50412f;
	font-size: 20px;
}

#about-us-text-con {
	background-color: #7B8D7D;
}

#about-us-text {
	grid-column: 1/-1;
	/* Remove as content will dictate height */
	height: 580px;
	margin-top: 40px;
	margin-bottom: 40px;
	background-color: #BBC6A9;
	font-size: 23px;
	border-radius: 40px;
}

#about-us-text-con h2, h3, p {
	padding-left:10px;
	padding-right:10px;
	padding-bottom: 20px;
}

#about-us-text-con h2 {
	color: #535f55;
}

#about-us-photos {
	background-color: #7B8D7D;
}

.about-us-photo {
	grid-column: 1/-1;
	display: block;
	margin: 20px auto 0 auto;
	margin-bottom: 40px;
	
	

}

#contact-us-con {
	margin-top: 100px;
	margin-bottom: 60px;
	background-color:#DFE3D8;
	text-align: center;
	padding-top: 70px;
	padding-bottom: 70px;
	margin: 0;
	color:#50412f;
	font-size: 23px;;
}

#contact-us-con p {
	margin-top: 50px;
}

#contact-us-con h3 {
	margin-top: -20px;
}

#contact-us-con ul, li {
	text-align: left;

}

#contact-text {
	grid-column: 1/-1;
	/* Remove as content will dictate height */
	height: 650px;
	margin-bottom: 30px;
	margin-top: -110px;
	background-color:#BBC6A9;
	border-radius: 40px;
}

#contact-form {
	grid-column: 1/-1;
	/* Remove as content will dictate height */
	height: 580px;
	background-color: #E6DCB0;
	border-radius: 40px;
}



#contact-form textarea {
	height: 70px;
    border: none;
    border-radius:  40px;
    margin-bottom: 20px;
	font-family: american typewriter;
    font-size: 22px;
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 50px;
	color: #7B8D7D;
	width: 160px;
	box-shadow: 5px 5px 5px rgba(33, 37, 34, 0.486);
}

#contact-form textarea[name="msg"] {
	padding-left: 30px;
	padding-right: 120px;
	padding-top: 20px;
}
#contact-form input {
    height:50px;
	padding: 0px;
    border: none;
    border-radius:  40px;
    margin-bottom: 0px;
    font-family: american typewriter;
	font-size: 22px;
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 24px;
	color: #7B8D7D;
	background-color: #ffffff;
	width:120px;
	box-shadow: 5px 5px 5px rgba(33, 37, 34, 0.486);
}

#contact-form input[type="text"] {
	padding-left: 40px;
	padding-right: 150px;
}
#contact-form input[type="submit"]:hover {
    background-color: #7B8D7D;
    border-radius: 60px;
	color: #ffffff;
}
#contact-form input[type="submit"] {
	width: 250px;
	background-color: #b39a7c;
	color: #ffffff;

}

/*Common page elements  */

.footer-logo {
	padding-top: 20px;
}
#contact-title {
	color: #ddd;
}
#footer-con {
	height: 250px;
	background-color: #535f55;
}


#footer-box {
	margin-top: 40px;
	/* Remove as content will dictate height */
	height:0px;
	grid-column: 1/3;
	background-color: #535f55;
}

#footer-contact {
	margin-top: 10px;
	/* Remove as content will dictate height */
	height:150px;
	
	background-color: #535f55;
	font-family: american typewriter;
}
#footer-contact input, textarea {
	border-radius: 20px;
	border: none;
	font-family: american typewriter;
	width: 280px;
}

#footer-contact textarea {
margin-top:10px;
margin-bottom: 10px;

}

#footer-contact input[type="submit"] {
	width: 100px;
	font-family: american typewriter;
	color: #535f55;
	background-color: #BBC6A9;
}
#footer-contact input[type="text"] {
	padding-left: 10px;
}
#footer-contact textarea[placeholder="Leave Message Here!"] {
	padding-left: 10px;
	padding-top: 20px;
	
}
 

/* gallery page */
#gallery {
	background-color: #535f55;
	
}
#hero-gallery-con {
	background-color: #aaaaaa;
	background: url(../images/gallery_mobile/hawaii.jpg);
	height: 458px;
}

#hero-gallery-text {
	grid-column: 1/-1;
	/* Remove as content will dictate height */
	height: 350px;
	margin-top: 20px;
	
}

#gallery-controls {
	grid-column: 1/-1;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}

.dot {
	background-color: #EFEFEF;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	margin: 5px;
	margin-top: 400px;
  }

#gallery h3 {
	text-align: center;
	grid-column: 1/-1;
	margin-top: 40px;
	margin-bottom: 30px;
	color: #DFE3D8;
	font-size: 40px;
	letter-spacing: 2px;
}
#gallery h2 {
	text-align: center;
	grid-column: 1/-1;
	margin-top: 40px;
	margin-bottom: 30px;
	font-size: 25px;
	letter-spacing: 2px;
}
.cart {
	margin-left: 60px;
}
.gallery-box {
	grid-column: 1/-1;
	background-color: #EFEFEF;
	/* Remove as content will dictate height */
	height: 507px;
	margin-bottom: 20px;
	color: #50412f;
	
	
}

.gallery-box p {
	padding-left: 135px;
}

#footer-newsletter2 {
	margin-top: 20px;
	height:40px;
	grid-column: 1/3;
	background-color: #ddd;
}